.container {
  padding: 15px;


  height: 100%;
  width: 100%;
  
  display: flex;
  flex-direction: column;
  
  grid-gap: 10px;
}

.main {
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  
  grid-gap: 20px;
}

.cards-container {
  flex: 1 1 auto;

  height: 0px;
}

.actions-buttons-container {
  display: grid;
  grid-template-columns: repeat(2,1fr);
}

.buttons {
  display: flex;
  flex-direction: row-reverse;
}